name: CMake

# if you are doing development on another branch and want GHActions to auto build the branch
# then add the branch name to the `push` section below
# you only need to make that change ON THE BRANCH to be built
# I like to remove it when merging into `main`
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # this allows us to manually dispatch the build from GH Actions UI
  workflow_dispatch:
    inputs:
      buildType:
        description: CMake build type (config)
        required: true
        default: 'Release'
        type: choice
        options:
        - Release
        - Debug

env:
  # if the build is not manually dispatched we will default to 'Release' build
  BUILD_TYPE: ${{ inputs.buildType || 'Release' }}

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    # The CMake configure and build commands are platform agnostic
    # and should work equally well on Windows or Mac.
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: lukka/get-cmake@latest

    - name: CMake Configure
      # Use a bash shell so we can use the same syntax for environment variable
      # access regardless of the host operating system
      shell: bash
      # Note the current convention is to use the -S and -B options here to specify source 
      # and build directories, but this is only available with CMake 3.13 and higher.  
      # The CMake binaries on the Github Actions machines are (as of this writing) 3.12
      run: cmake -S . -B build -D CMAKE_BUILD_TYPE=$BUILD_TYPE

    - name: CMake Build
      shell: bash
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake --build build --config $BUILD_TYPE

    - name: Test
      working-directory: build
      shell: bash
      # Execute tests defined by the CMake configuration.  
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ctest --output-junit ctest-results.xml -C $BUILD_TYPE
    
    - name: Upload *NIX Binary
      uses: actions/upload-artifact@v3
      if: matrix.os != 'windows-latest'
      with:
          name: bmai-${{ runner.os }}-${{ env.BUILD_TYPE }}
          path: ./build/bmai

    - name: Upload WINDOWS Binary
      uses: actions/upload-artifact@v3
      if: matrix.os == 'windows-latest'
      with:
          name: bmai-${{ runner.os }}-${{ env.BUILD_TYPE }}
          path: ${{ github.workspace }}\build\${{ env.BUILD_TYPE }}\bmai.exe
